<div class="row-fluid">
    <div class="span12">
        <div class="box paint color_0">
            <div class="title">
                <h4><span>Nova Música</span></h4>
            </div>

            <div class="content">
                <form id="formPortfolio" method="post" action="/admin/portfolio/alterar" class="form-horizontal cmxform" autocomplete="off">
                    <input type="hidden" name="idMusica" value="<%= viewModel.id %>" />
                    <div class="form-row control-group row-fluid">
                        <label class="control-label span3" for="secao">Seção *</label>
                        <div class="controls span3">
                            <div class="input-prepend row-fluid">
                                <select id="secao" name="secao" class="row-fluid" disabled>
                                    <option value="lancamento" <%= (viewModel.secao === 'lancamento') ? 'selected' : '' %>>Últimos Lançamentos</option>
                                    <option value="outro" <%= (viewModel.secao === 'outro') ? 'selected' : '' %>>Outros Trabalhos</option>
                                    <option value="jingle" <%= (viewModel.secao === 'jingle') ? 'selected' : '' %>>Jingles</option>
                                    <option value="pessoal" <%= (viewModel.secao === 'pessoal') ? 'selected' : '' %>>Pessoal</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row control-group row-fluid">
                        <label class="control-label span3" for="nome">Nome da Música *</label>
                        <div class="controls span9">
                            <input id="nome" name="nome" type="text" class="span12" value="<%= viewModel.nome %>" />
                            <label class="error errorRequired" style="display: none;">Por favor, informe o nome da música</label>
                        </div>
                    </div>
                    <div class="form-row control-group row-fluid">
                        <label class="control-label span3" for="artista">Nome do Artista *</label>
                        <div class="controls span9">
                            <input class="row-fluid" type="text" id="artista" name="artista" value="<%= viewModel.artista %>" />
                            <label class="error errorRequired" style="display: none;">Por favor, informe o nome do artista</label>
                        </div>
                    </div>
                    <div class="form-row control-group row-fluid">
                        <label class="control-label span3" for="arquivoMusica">Arquivo MP3 *</label>
                        <div class="controls span9">
                            <input id="arquivoMusica" name="arquivoMusica" type="text" class="span12" placeholder="minha_cancao.mp3"  value="<%= viewModel.arquivoMusica %>" />
                            <label class="error errorRequired" style="display: none;">Por favor, informe o nome do arquivo MP3</label>
                            <label class="error errorMinlength" style="display: none;">O nome do arquivo precisa ter pelo menos 5 caracteres</label>
                            <label class="error errorNomeArquivo" style="display: none;">Não é permitio espaços, apenas '-' e '_'. É necessário um '.' separando o nome da extensão do arquivo.</label>
                        </div>
                    </div>

                    <% if (viewModel.secao === 'outros' || viewModel.secao === 'jingles') { %>

                        <div id="campoImagem" class="form-row control-group row-fluid">
                            <label class="control-label span3" for="arquivoCapaAlbum">Imagem da Capa do CD</label>
                            <div class="controls span9">
                                <input id="arquivoCapaAlbum" name="arquivoCapaAlbum" type="text" class="span12" placeholder="capa_cd.jpg" value="<%= viewModel.arquivoCapaAlbum %>" />
                                <label class="error errorMinlength" style="display: none;">O nome do arquivo precisa ter pelo menos 5 caracteres</label>
                                <label class="error errorNomeArquivo" style="display: none;">Não é permitio espaços, apenas '-' e '_'. É necessário um '.' separando o nome da extensão do arquivo.</label>
                            </div>
                        </div>

                    <% } else { %>

                        <div id="campoImagemObrigatorio" class="form-row control-group row-fluid">
                            <label class="control-label span3" for="arquivoCapaAlbum">Imagem da Capa do CD *</label>
                            <div class="controls span9">
                                <input id="arquivoCapaAlbum" name="arquivoCapaAlbum" type="text" class="span12" placeholder="capa_cd.jpg" value="<%= viewModel.arquivoCapaAlbum %>" />
                                <label class="error errorRequired" style="display: none;">Por favor, informe o nome do arquivo de imagem</label>
                                <label class="error errorMinlength" style="display: none;">O nome do arquivo precisa ter pelo menos 5 caracteres</label>
                                <label class="error errorNomeArquivo" style="display: none;">Não é permitio espaços, apenas '-' e '_'. É necessário um '.' separando o nome da extensão do arquivo.</label>
                            </div>
                        </div>

                    <% } %>
                    <div class="form-actions row-fluid">
                        <div class="span12">
                            <a href="/admin/portfolio" class="btn btn-large btn-secondary pull-right">Cancelar</a>
                            <button type="submit" class="btn btn-large btn-success pull-right">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>

            <a href="#instrucoesModal" class="btn new_item" data-toggle="modal"><i class="icon-info-sign"></i></a>
        </div>
        <!-- End .box --> 
    </div>
</div>

<!-- Modal -->

<div id="instrucoesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Instruções</h3>
    </div>
    <div class="modal-body">
        <h4>Para incluir um novo artista, siga as instruções abaixo</h4>

        <ul>
            <li>Os campos que contém um <b>*</b> são de preenchimento obrigatório, os demais são opcionais</li>
            <li>O arquivo de áudio (mp3) deve ser copiado para a pasta <code>\public\musicas</code></li>
            <li>O arquivo de <em>Imagem da Capa do CD</em> é a imagem que é apresentada na listagem do site</li>
            <li>O arquivo de imagem da capa do CD deve ser copiado para a pasta <code>\public\img\cd</code></li>
            <li>O tamanho ideal para a imagem da capa do CD é de <code>157 x 157</code> pixels</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Fechar</button>
    </div>
</div>

<script src="/js/app/formPortfolio.js"></script>

<!-- Modal Mensagem -->

<% include partial/mensagem %>